:root {
  --border-width-sm: 2px;
  --border-width-md: 5px;
  --border-width-lg: 7px;
}

.loading-animation {
  border: var(--border-width-md) solid var(--text-color);
  border-top: var(--border-width-md) solid var(--active-color);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: flex;
  max-width: 100%;
}

.loading-animation.sm {
  width: 20px;
  height: 20px;
  border-width: var(--border-width-sm);
  max-width: calc(100% - var(--border-width-sm) * 2);
  max-height: calc(100% - var(--border-width-sm) * 2);
}

.loading-animation.md {
  width: 60px;
  height: 60px;
  max-width: calc(100% - var(--border-width-md) * 2);
  max-height: calc(100% - var(--border-width-md) * 2);
}

.loading-animation.lg {
  width: 90px;
  height: 90px;
  border-width: var(--border-width-lg);
  max-width: calc(100% - var(--border-width-lg) * 2);
  max-height: calc(100% - var(--border-width-lg) * 2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
